Наш книжный клуб работает по ежемесячной подписке, которая стоит 1500 руб/мес.
Подписка работает через бот @donate, для того, чтобы подписаться, перейди по этой
ссылке: <br>
<br>
Также мы обсуждаем возникающие по ходу чтения вопросы, сложности и отмечаем наиболее
полезные части книги, имеющие наибольшее значение для нас.<br>
<br>
Присоединяйся!
