Привееет!<br>
<br>
Это Telegram-бот библиотеки.<br>
<br>
Здесь можно посмотреть список книг, которые мы читали и планируем читать, а также
взять книгу.<br>
<br>
Присоединяйся к клубу:<br>
- /help — помощь<br>
<br>
Команды бота:<br>
<br>
/start — приветственное сообщение<br>
/help — справка<br>
/all_books — все книги, которые есть в нашем списке<br>
/my_books — все книги, которые вы забрали<br>
/register - зарегистрироваться в библиотеке<br>
/create_book - для админа<br>
/create_category - для админа<br>
